section.search {

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 5rem 0 2rem 0;

}

section.search input#inputSearchCode {

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    
    border: 1px solid;

    width: 500px;

    padding: 0.5rem 1rem;

    transition: 0.2s;

}

section.search button {

    background: white;
    color: black;
    
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    
    width: 100px;
    height: 49px;

    margin-left: 3rem;

    cursor: pointer;

    transition: 0.2s;

}

section.search button:hover {

    background: #000;
    color: white;

}
