section.search {

    margin: 5rem 0 2rem 0;

}

section.search input#inputSearchCode {

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    
    border: 1px solid;

    width: 250px;

    padding: 0.5rem 1rem;

    transition: 0.2s;

}

section.search input#inputSearchCode:focus {

    width: 500px;

}
